<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>About</title>
</head>

<body>

    <section class="topnavbar">
        <div class="container">
            <nav class="navbar navbar-light bg-blue">
                <div class="container-fluid ol-md-2 col-6">
                    <a class="navbar-brand " id="nav"><i class="fas fa-phone-alt"></i>+9779819207400</a>
                    <a class="navbar-brand " id="nav"><i class="far fa-envelope"></i> info@example.com</a>
                    <form class="d-flex">
                        <button class="btn btn-outline-warning" type="submit">Apply Now</button>
                    </form>
                </div>
            </nav>
        </div>
    </section>
    <section class="undernav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid col-8">
                <a class="navbar-brand" href="#"
                    style="margin-right: 165px; font-size: 31px; font-weight: 700;"><span><img src="img/logo.png" alt="logo"
                            id="logo"></span> Mastery</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse just " id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/about">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Pages
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Service</a></li>
                                <li><a class="dropdown-item" href="#">Blog</a></li>
                                <li><a class="dropdown-item" href="#">Blog Single</a></li>
                                <li><a class="dropdown-item" href="#">Landing Page</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/contact">Contact</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2 my-lg-0 " type="search" placeholder="Search" aria-label="Search"
                            style="padding: 11px; width: 229px;">
                        <button class="btn btn-search" type="submit" id="button"
                            style=" margin-left: -45px; z-index: 1;"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </nav>
    </section>

    <section class="contact-first">
        <div class="breadcrum-bg py-sm-5 py-4">
            <div class="container py-lg-3">
                <h2>About Us</h2>
                <p>
                    <a href="/index">Home</a>
                    &nbsp; / &nbsp; About
                </p>
            </div>
        </div>
    </section>

    <section class="headings">
        <div class="calltoaction-20  py-5 editContent">
            <div class="container py-md-3">
                <div class="calltoaction-20-content rowss">
                    <div class="row">
                        <div class="col-sm">
                            <div class=" text-left" id="num">
                                <div class="card-body">
                                    <h1 class="card-title">About Our Institution</h1>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam, quis nostrud.</p>
                                    <div class="paras">
                                        <p><i class="fas fa-check"
                                                style="color: #fdc800; font-weight: 700;"></i>Materiality &
                                            Interpretation</p>
                                        <p><i class="fas fa-check" style="color: #fdc800;"></i>Design Management and
                                            Cultural Enterprise</p>
                                        <p><i class="fas fa-check" style="color: #fdc800;"></i>Experience Design (XD)
                                        </p>
                                        <p><i class="fas fa-check" style="color: #fdc800;"></i>Sound Design; Social
                                            Media and SEO</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card text-center" id="num">
                                <img class="card-img-top" src="img/aboutpage.jpg" alt="Card image cap">
                                <!-- <div class="card-body">
                        <a href=""><i class="fa fa-users"></i></a>
                      <h4 class="card-title">Highly Qualified Teachers</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-sm">
                        <h3>Our History 1998</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicingelit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                    <div class="col-sm">
                        <h3>Over 100 Facalties</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicingelit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                    <div class="col-sm">
                        <h3>We Have 12,000 Students</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicingelit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="current">
        <div class="grid top-bottom py-5">
            <div class="container py-md-5">
                <div class="heading text-center max-auto">
                    <h2>Why You Choose Our Institute</h2>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla
                        mollis dapibus.
                        nunc, ut rhoncus turpis sodales quis. Integer sit amet mattis quam.
                    </p>
                </div>
                <div class="container mt-5" id="canted">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="text-center card_coloring">
                                <div class="card-body">
                                    <a href="/"><i class="fas fa-graduation-cap connection"></i></a>
                                    <h4 class="card-title">Learn Course Online</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="text-center card_coloring">
                                <div class="card-body">
                                    <a href=""><i class="fas fa-user connection"></i></a>
                                    <h4 class="card-title">Highly Qualified Teachers</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="text-center card_coloring">
                                <div class="card-body">
                                    <a href=""><i class="fa fa-book connection"></i></a>
                                    <h4 class="card-title">Book Library & Stores</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="text-center card_coloring">
                                <div class="card-body">
                                    <a href=""><i class="fas fa-bed connection"></i></a>
                                    <h4 class="card-title">Book Library & Stores</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="current_last">
        <div class="grid py-5">
            <div class="container py-md-5">
                <div class="heading text-center max-auto">
                    <h2>Our Skilled Person</h2>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla
                        mollis dapibus.
                        nunc, ut rhoncus turpis sodales quis. Integer sit amet mattis quam.
                    </p>
                </div>
                <div class="row inner-sec-w3ls-w3pvt-aminfo pt-5 mt-3">
                    <div class="col-lg-3 col-sm-6">
                        <div class="team-grid text-center">
                            <div class="team-img">
                                <img class="img-fluid rounded" src="img/title.jpg" alt="teamPhoto">
                            </div>
                            <div class="team-info">
                                <h4>Trent Boult</h4>
                                <ul class="d-flex justify-content-center py-3 social-icons">
                                    <li><a href="/"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="/"><i class="fab fa-twitter-square"></i></a></li>
                                    <li><a href="/"><i class="fab fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-5">
                        <div class="team-grid text-center">
                            <div class="team-img">
                                <img class="img-fluid rounded " src="img/t2.jpg" alt="teamPhoto">
                            </div>
                            <div class="team-info">
                                <h4>Ruth Grace</h4>
                                <ul class="d-flex justify-content-center py-3 social-icons">
                                    <li><a href="/"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="/"><i class="fab fa-twitter-square"></i></a></li>
                                    <li><a href="/"><i class="fab fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6  mt-sm-0 mt-5">
                        <div class="team-grid text-center">
                            <div class="team-img">
                                <img class="img-fluid rounded " src="img/t3.jpg" alt="teamPhoto">
                            </div>
                            <div class="team-info">
                                <h4>Jonty Rhoods</h4>
                                <ul class="d-flex justify-content-center py-3 social-icons">
                                    <li><a href="/"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="/"><i class="fab fa-twitter-square"></i></a></li>
                                    <li><a href="/"><i class="fab fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-5">
                        <div class="team-grid text-center">
                            <div class="team-img">
                                <img class="img-fluid rounded " src="img/t4.jpg" alt="teamPhoto">
                            </div>
                            <div class="team-info">
                                <h4>Maria Clisters</h4>
                                <ul class="d-flex justify-content-center py-3 social-icons">
                                    <li><a href="/"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="/"><i class="fab fa-twitter-square "></i></a></li>
                                    <li><a href="/"><i class="fab fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer" id="footer_response_about">
        <div class="container" id="footer-last">
          <div class="row" id="niwash">
            <div class="col-sm-3">
              <div class="container" id="footer-last">
                <div id="shriniwash">
                  <div class="card-body" style="color: white;">
                    <div class="name">
                      <ul>
                        <li><h5>Contact Us</h5></li>
                        <li>
                          <p><i class="fa fa-map-marker"></i> Estate Business, #32841 block, #221DRS Real estate business
                            building, UK.</p>
                        </li>
                        <li>
                          <p><i class="fas fa-phone-alt"></i> +9779819207400</p>
                        </li>
                        <li>
                          <p><i class="far fa-envelope-open"></i> corporate-mail@support.com</p>
                        </li>
                      </ul>
                      <div class="social-footer">
                        <a href="/"><i class="fab fa-facebook" id="facebook"></i></a>
                        <a href="/"><i class="fab fa-twitter-square" id="twitter"></i></a>
                        <a href="/"><i class="fab fa-instagram" id="instagram"></i></a>
                        <a href="/"><i class="fab fa-google-plus" id="google"></i></a>
                        <a href="/"><i class="fab fa-linkedin" id="linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div style="width: 18rem; background: none;">
                <div class="card-body">
                  <div class="name">
                    <ul>
                      <li><h5>Featured Links</h5></li>
                      <li>Graduation</li>
                      <li>Admissions</li>
                      <li>Book Store</li>
                      <li>International</li>
                      <li>Courses</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div  style="width: 21rem; background: none;">
                <div class="card-body" id="nepali">
                  <ul>
                    <li><h5>Newsletter</h5></li>
                    <li>
                      <div class="footer-gmail">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <a href="/"><span class="far fa-envelope"></span></a>
                      </div>
                    </li>
                    <li>
                      <p class="card-text">Subscribe and get our weekly newsletter We'll never share your email address</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div style="width: 18rem; background: none;">
                <div class="card-body">
                  <div class="name text-left">
                    <ul>
                      <li><h5>Quick Links</h5></li>
                      <li><a href="">Home</a></li>
                      <li><a href="">About</a></li>
                      <li><a href="">Services</a></li>
                      <li><a href="">Blog</a></li>
                      <li><a href="">Contacts</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container footer-last-menu">
          <div class="row ml-5 my-2 text-center">
            <div class="col-sm-6">
              <p style="color: white;">All Right Reserved | Designed By Shriniwash</p>
            </div>
            <div class="col-sm-6 naming">
              <ul>
                <li><a href="">Privacy</a></li>
                <li><a href="">Terms And Condition</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>